{{yield}}
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">
			{{index}} | 
			{{data.city.name}}
			{{#if data}}
				<small>({{moment-from-now data.dt_txt}})</small>
			{{/if}}
		</h5>
		<strong>{{data.weather.0.main}}</strong>
	</div>
	<small>
		<div class="row">
			<div class="col">Temperature: {{data.main.temp}}</div>
			<div class="col">Humidity: {{data.main.humidity}}%</div>
			<div class="col">Wind: {{data.wind.speed}} km/h</div>
		</div>
	</small>
</a>
